PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/nutrition-bot

META_PHONE_NUMBER_ID=your_phone_number_id
META_ACCESS_TOKEN=your_permanent_access_token
META_WEBHOOK_VERIFY_TOKEN=any_random_string_you_choose
META_API_VERSION=v19.0

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

ANTHROPIC_API_KEY=your_anthropic_key
GEMINI_API_KEY=your_gemini_key

AI_PROVIDER= #claude or gemini